.shop-by-category{
    margin: 50px 0;
    
    
}
.categories{
    display: flex;

    flex-wrap: wrap;
    gap: 10px;
    
}
.categories .category::after:hover:nth-child(1){
    content: 'headphone';
   
    top: 20%;
    right: 20%;
}

.category{
    position: relative;
    width: calc(25% - 10px);
    overflow: hidden;
    height: 300px;
    
}
.category img{
    width: 100%;
    display: block;
    transition: all ease 0.3s;
    height: 100%;
    object-fit: cover;
}

.headingggg{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0.804);
    font-size: 1.5rem;
   
}


.category img:hover{
    transform: scale(1.2);
   
}


@media screen and (max-width:990px){
    .shop-by-category{
        margin: 25px 0;
    }
    .category{
        width: calc(50% - 5px);
        height: 200px;
    }
}