.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 100%;
   
}
.in-left{
    height: 100%;
}
.in-left img{
    height: 100%;
    width: 100%;
   object-fit: cover;
    
}
.in-right{
    padding-left: 50px;
}
.in-right h1{
    font-size: 3.7rem;
    margin-bottom: 6px;
}
.in-right p{
    padding-right: 100px;
    color: rgba(255, 255, 255, 0.286);
}


@media screen and (max-width:1400px){
    .info-container{
        height: 100%;
    }
    .in-right {
        padding-left: 20px;
    }
    .in-right p{
        font-size: 15px;
        font-weight: 300;
    }
}
@media screen and (max-width:990px){
    .info-container{
        grid-template-columns: 1fr;
    }
    .in-right{
        height: 130px;
        padding-left: 0px;
       
    }
    .in-right h1{
        padding-top: 10px;
        font-size: 2.5rem;
    }
    .in-right p{
        font-size: 14px;
        font-weight: 200;
        line-height: 13px;
        padding-right: 40px;
    }
}
@media screen and (max-width:590px){
    .in-right p{
        font-size: 11px;
        font-weight: 200;
        line-height: 12px;
    }
    .in-right h1{
        
        font-size: 1.5rem;
    }
}