.xbox_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
    /* padding: 0 0; */
    transition: .5s ease-in;
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.078), rgba(208, 214, 240, 0.1)); */
}


.right h1{
    font-size: 2.5rem;
    margin: 10px 0;
}
.right p{
    font-size: 1.5rem;
}
.right h2{
    font-size: 3rem;
    font-weight: bold;
}
.btn-x{
    margin: 1.4rem 0;
    text-align: center;
}
.left img{
    max-width: 90%;
    width: 642px;
    margin-bottom: 0;
}

@media screen and (max-width:930px){
    .xbox_content{
        grid-template-columns: 1fr;
    }
    .right h2{
        font-size: 2rem;
    }
    .right h1{
        font-size: 2rem;
    }
}