@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;500&display=swap');

.hero{
    background-image: url('../assest/headerrrrrrrrrrrrrrr.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hero-container{
    display: flex;
    position: absolute;
    top: 20%;
}

.left{
    padding-left: 29%;
}

.left h1{
    font-size: 6.8rem;
    margin-bottom: 1.5rem;
}
.hero_content{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.hero_content p{
    font-family: 'Dancing Script', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    width: 75%;
}
.right h3{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
}
.right-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right-img img{
    width: 60%;
}

.scrollbutton{
    padding: 10px 15px;
    background: none;
    outline: none;
    color: white;
    border: 1px solid white;
}
.scrollbutton:hover{
    background-color: rgba(255, 255, 255, 0.081);
}


@media screen and (max-width:1400px){
    .hero-container{
        top: 26%;
    }
    .left h1{
        font-size: 5.6rem;
    }
    .hero_content p{
        font-size: 13px;
        width: 50%;
    }
    .right h3{
        font-size: 1rem;
    }
}


@media screen and (max-width:990px){
    .hero-container{
        top: 20%;
    }
    .left{
        padding-left: 10%;
       top: 10%;
    }
    
   

}


























/*

.hero-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.hero .left{
    padding: 1rem;
}
.hero h1{
    font-size: 6rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.hero .right{
    position: relative;
    padding: 1rem;
}
.hero img{
    width: 100%;
    display: flex;
}
.hero img{
    max-width: 80%;
    margin: auto;
}
.hero_content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}
.hero_content a{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.right h3{
    font-size: 1.6rem;
    padding: 1rem 0;
}
.right img{
    width: 450px;
}
.right h4{
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 70px;
    transform: rotate(-90deg);
}
@media screen and (max-width:930px){
    .hero .container .hero-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .hero h1{
        font-size: 4rem;
    }
    .right h4{
        bottom: 0;
        transform: none;
    }
}

*/