.single-product-main-content{
    margin: 150px 0 0 0;
}
.layoutt{
    max-width: 1200px;
    margin: 100px auto;
}
.single-product-page{
    display: flex;
    flex-direction: row;
    
}
.quantity_buttons .incdec_btns{
    transition: .2s ease;
}
.quantity_buttons .incdec_btns:hover{
    background-color: rgba(243, 252, 255, 0.179);
    color: white;
}
.leftt{
    position: relative;
    width: 50%;
    /* background-color: rgb(236, 8, 8); */
      
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.rightt{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 35px;
}
.name{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.prices {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #6b6b6b;
}
.cart_buttons {
    display: flex;
    margin-top: 30px;
}
.quantity_buttons {
    width: fit-content;
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.663);
    margin-right: 10px;
    height: 50px;
}

.quantity_buttons span {
    font-size: 18px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6b6b6b;
}
.quantity_buttons span:nth-child(1) {
    border-right: 2px solid rgba(255, 255, 255, 0.663);
}
.quantity_buttons span:nth-child(2) {
    width: 60px;
}
.quantity_buttons span:nth-child(3) {
    border-left: 2px solid rgba(255, 255, 255, 0.663);
}

.add_to_cart_button{
    outline: 0;
    border: 0;
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: rgb(1, 103, 141);
  
    flex-grow: unset;
}
.add_to_cart_button:hover{
    background-color: rgba(2, 188, 255);
    
}
svg {
    margin-right: 10px;
}
.divider {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.573);
}
.text_bold {
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.text_bold:nth-child(1) {
    margin-bottom: 20px;
}
.text_bold span {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    color: #6b6b6b;
}

.text_bold svg {
    margin: 0 5px;
}



@media screen and (max-width:1240px){
    .single-product-page{
        margin: 0 40px;
    }
}



@media screen and (max-width:990px){
    .single-product-main-content{
        
        margin: 120px 0 75px 0;
    }
    .layoutt{
        max-width: calc(100% - 50px);
    }
    .single-product-page{
        flex-direction: column;
        margin: 0 20px;
    }
    .leftt{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .leftt img{
        width: 50%;
    }
    .rightt{
        width: 100%;
        padding-top: 20px;
    }
    .name{
        font-size: 20px;
                    line-height: 28px;
    }
    .desc{
        font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
    }
    .add_to_cart_button{
        flex-grow: 1;
    }
  
}
@media screen and (max-width:830px){
    .leftt img{
        width: 70%;
    }
    .single-product-page{
        margin: 0 0;
    }
}